

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-box my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Reset Password</h5>
          <%= form_for '/password_reset', :class => 'form box', :method => :post do %>
            <div class="form-label-group">
              <%= text_field :user, 'email', :class => 'form-control',placeholder: "email", :id => 'ResetPasswordEmail' %>
            </div>
            <%= submit_tag 'Reset Password', :class => 'btn btn-lg btn-outline-success btn-block text-uppercase', :id => 'login_submit' %>
            <hr class="my-4">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


