<h1>Welcome! Please join or create a game.</h1>

<div class="create_or_join_game">
  <%= button_to 'Create Game', games_path, method: :post, :id => 'create_game'%>

  <!--  TODO: Change games_path to games_create-->
  <%= form_tag lobby_join_path, method: :get, :class => 'form' do %>
    <%= text_field :game, 'game_id', :placeholder => "Enter Game ID" , :id => 'join_game_textbox'%>
    <%= button_to 'Join Game!', lobby_join_path , method: :get, :id => 'join_game_button'%>
  <% end %>

</div>
