<h1>Please create a new game below!</h1>

<%= form_for '/lobby', :url => '/lobby', :method => :post do %>
  <div class="game-settings">
    <b>Choose number of decks:</b>
    <div class="deck-settings">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="deck" id="1d" value="option1" checked>
        <label class="form-check-label" for="1d">
          1 deck
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="deck" id="2d" value="option2">
        <label class="form-check-label" for="2d">
          2 decks
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="deck" id="3d" value="option3">
        <label class="form-check-label" for="3d">
          3 decks
        </label>
      </div>
    </div>
  <br>
    <b>Choose number of sinks:</b>
    <div class="sink-settings">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sink" id="1s" value="option1" checked>
        <label class="form-check-label" for="1s">
          1 sink
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sink" id="2s" value="option2">
        <label class="form-check-label" for="2s">
          2 sinks
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sink" id="3s" value="option3">
        <label class="form-check-label" for="3s">
          3 sinks
        </label>
      </div>
    </div>
    <br>
    <b> Enter starting hand size: </b>
    <br>
    <%= text_field :start_hand_size, :class => 'form-control', :id => 'start_hand_id' %>
  </div>
<br>

  <%= submit_tag 'Go to Lobby', :class => 'btn btn-primary', :id => 'lobby_submit' %>
<% end %>
