<h1> Lobby </h1>

<!-- TODO: Check the implementation of this -->
<%= button_to  'Start Game', game_session_path, method: :get, :class => 'btn btn-success'%>
<h3><%= 'Game ID = ' + request.original_url.split(//).last(4).join %></h3>
<br><h4>Players:</h4>
<h4 id="usernames">
  <script type="text/javascript">
      setInterval("refresh_usernames()", 1000)

      function refresh_usernames() {
          document.getElementById("usernames").innerHTML =
              '<%= User.players_in_game(request.original_url.split(//).last(4).join.to_i) %>'
      }
  </script>
</h4>