<h1> Lobby </h1>

<!-- TODO: Check the implementation of this -->
<%= button_to  'Start Game', game_session_path, method: :get, :class => 'btn btn-success'%>
<%= 'Game ID = ' + request.original_url.split(//).last(4).join %>