/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a index
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.user_card_black:hover, .other_users_card_black:hover {
    border-bottom: 2px solid deepskyblue;
}

.user_card_black:active, .other_users_card_black:active, #user_card:focus {
    border-bottom: 2px solid limegreen;
}

.user_card_red:hover, .other_users_card_red:hover {
    border-bottom: 2px solid deepskyblue;
}

.user_card_red:active, .other_users_card_red:active, #user_card:focus {
    border-bottom: 2px solid limegreen;
}

.user_card_black{
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 60px;
    color: black;
}

.user_card_red{
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 60px;
    color: darkred;
}

.other_users_card_black{
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: black;
}

.other_users_card_red{
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: darkred;
}

.game_buttons{
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#other_user_hands{
    height: 200px;
    overflow-y:auto;
}
