/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a index
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.user_card_black:hover,.user_card_black_shown:hover, .other_users_card_black:hover {
    border-bottom: 2px solid deepskyblue;
}

.user_card_black:active,.user_card_black_shown:active, .other_users_card_black:active, #user_card:focus {
    border-bottom: 2px solid limegreen;
}

.user_card_red:hover,.user_card_red_shown:hover, .other_users_card_red:hover {
    border-bottom: 2px solid deepskyblue;
}


.user_card_red:active, .user_card_red_shown:active, .other_users_card_red:active, #user_card:focus {
    border-bottom: 2px solid limegreen;
}

.user_card_red_shown{
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 60px;
    color: darkred;
    border-top: 2px solid red;
}

.user_card_black_shown{
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 60px;
    color: black;
    border-top: 2px solid red;
}

.user_card_black{
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 60px;
    color: black;
}

.user_card_red{
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 60px;
    color: darkred;
}

.other_users_card_black{
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: black;
}

.other_users_card_red{
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    color: darkred;
}

.end_buttons{
    position:absolute;
    left: 82%;
    bottom: 0px;
    /*transform: translate(-50%, -50%);*/
    /*margin: 0 auto;*/
    padding: 5%;
}
.leave_buttons{
    position: absolute;
    left: 76%;
    bottom: 0px;
    /*transform: translate(-50%, -50%);*/
    /*margin: 0 auto;*/
    padding: 5%
}


#other_user_hands{
    height: 200px;
    overflow-y:auto;
    position:absolute;
    transition: transform;
    display: block;
    transform-origin: left top;
}

.empty_sink{
    color: white;
    padding: 1px;
    /*border-style: solid;*/
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 60px;
    position:absolute;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 100;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;

}

/* Links inside the dropdown */
.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 100;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.dropdown-submenu {
    position: relative;
    z-index: 100;

}

.oval {
    width:55vw;
    height:60vh;
    overflow:hidden;
    margin: auto;
    /*width: 60%;*/
    /*height: 60%;*/
    background: #11e092;
    border-radius: 50%;
    position:absolute;
    border-style: solid ;
    border-color: brown;
    border-width: thick;}

.label {
    color: white;
    padding: 8px;
    position: fixed;

}


:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.card-box {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-box .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-box .card-body {
    padding: 2rem;
}

.form-box {
    width: 100%;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group input::-moz-placeholder {
    color: lightslategrey;
}

.form-label-group input::placeholder {
    color: lightslategrey;
}
/*#other_user_hands{*/
/*    transition: transform .2s;*/
/*    display: block;*/
/*    transform-origin: left top;*/
/*}*/
#other_user_hands:hover{
    transform: scale(2.0);
    z-index: 1;
}

/*&#8634; unicode for reset button*/

.Draw {
    background-color: #4CAF50;
    position: fixed;
    right: 45px;
    top: 170px;

} /* Green */


.Discard {
    background-color: #f44336;
    position: fixed;
    right: 45px;
    top: 400px;

} /* Green */

.reset_buttons{
    position: absolute;
    left: 70%;
    bottom: 0px;
    /*transform: translate(-50%, -50%);*/
    /*margin: 0 auto;*/
    padding: 5%
}
